<div class="aside" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" >Menu</h4>
      </div>
      <div class="aside-body" >
          <h4><a href="#/setting.html" ng-click=" $hide()">Campaign Setting</a></h4>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>